@import "tailwindcss";

@import 'colbrush/styles.css';

@font-face {
  font-family: "Pretendard Variable";
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url("/font/PretendardVariable.woff2") format("woff2-variations");
}

.am5-layer-30 {
  display: none;
}

@theme {
  --color-bg: #060010;
  --color-primary: #8144FF;
  --color-secondary: #C89AE8;
  --color-gray-100: #909090;
  --color-gray-200: #555555;
  --color-gray-300: #252525;

  --color-protanopia-a: #a34245;
  --color-protanopia-b: #7e464a;
  --color-protanopia-sub-a: #275841;
  --color-protanopia-sub-b: #455c4e;
  --color-protanopia-sub-c: #525856;

  --color-deuteranopia-a: #11724d;
  --color-deuteranopia-b: #5A7D6E;
  --color-deuteranopia-sub-a: #b84f47;
  --color-deuteranopia-sub-b: #a04d4d;
  --color-deuteranopia-sub-c: #6b6363;
  
  --color-tritanopia-a: #7287e4;      
  --color-tritanopia-b: #627cac;
  --color-tritanopia-sub-a: #5ba192;
  --color-tritanopia-sub-b: #4da08b;
  --color-tritanopia-sub-c: #4c7e71;

  --color-red: #ff2727;
  --color-deep-red: #CF1E25;
  --color-yellow: #FFB720;
  --color-light-green: #52c93f;
  --color-green: #008543;
  --color-blue: #006aff;
  --color-gray-blue: #3d4852;
  --color-deep-blue: #00549F;
  --color-purple: #884DFF;
  --color-gray: #909090;
  --color-light-gray: #d9d9d9;
  --color-white: #ffffff;
  --color-black: #000000;
  
  --shadow-custom: 0 0 6px 0 rgba(0, 0, 0, 0.25);
  
  --font-pretendard: "Pretendard Variable";
}

[data-theme='deuteranopia']{
  --color-bg: #0d0003;
  --color-primary: #d22959;
  --color-secondary: #ea9694;
  --color-gray-100: #909090;
  --color-gray-200: #555555;
  --color-gray-300: #252525;
  --color-protanopia-a: #aa4000;
  --color-protanopia-b: #864405;
  --color-protanopia-sub-a: #005a77;
  --color-protanopia-sub-b: #2d5d6b;
  --color-protanopia-sub-c: #4e585d;
  --color-deuteranopia-a: #0076a7;
  --color-deuteranopia-b: #327f96;
  --color-deuteranopia-sub-a: #bf4d00;
  --color-deuteranopia-sub-b: #a84b00;
  --color-deuteranopia-sub-c: #6e635b;
  --color-tritanopia-a: #9884b5;
  --color-tritanopia-b: #6a7ba3;
  --color-tritanopia-sub-a: #00a4d6;
  --color-tritanopia-sub-b: #00a4dc;
  --color-tritanopia-sub-c: #0080a4;
  --color-red: #ff2300;
  --color-deep-red: #d41900;
  --color-yellow: #ffb700;
  --color-light-green: #00cee9;
  --color-green: #0089bb;
  --color-blue: #9161aa;
  --color-gray-blue: #3a4856;
  --color-deep-blue: #3b528a;
  --color-purple: #d53860;
}

[data-theme='protanopia']{
  --color-bg: #0d0003;
  --color-primary: #d22959;
  --color-secondary: #ea9694;
  --color-gray-100: #909090;
  --color-gray-200: #555555;
  --color-gray-300: #252525;
  --color-protanopia-a: #aa4000;
  --color-protanopia-b: #864405;
  --color-protanopia-sub-a: #005a77;
  --color-protanopia-sub-b: #2d5d6b;
  --color-protanopia-sub-c: #4e585d;
  --color-deuteranopia-a: #0076a7;
  --color-deuteranopia-b: #327f96;
  --color-deuteranopia-sub-a: #bf4d00;
  --color-deuteranopia-sub-b: #a84b00;
  --color-deuteranopia-sub-c: #6e635b;
  --color-tritanopia-a: #9884b5;
  --color-tritanopia-b: #6a7ba3;
  --color-tritanopia-sub-a: #00a4d6;
  --color-tritanopia-sub-b: #00a4dc;
  --color-tritanopia-sub-c: #0080a4;
  --color-red: #ff2300;
  --color-deep-red: #d41900;
  --color-yellow: #ffb700;
  --color-light-green: #00cee9;
  --color-green: #0089bb;
  --color-blue: #9161aa;
  --color-gray-blue: #3a4856;
  --color-deep-blue: #3b528a;
  --color-purple: #d53860;
}

[data-theme='tritanopia']{
  --color-bg: #100010;
  --color-primary: #ed00ff;
  --color-secondary: #f384e9;
  --color-gray-100: #909090;
  --color-gray-200: #555555;
  --color-gray-300: #252525;
  --color-protanopia-a: #914f44;
  --color-protanopia-b: #764b4a;
  --color-protanopia-sub-a: #0d5a41;
  --color-protanopia-sub-b: #3d5e4e;
  --color-protanopia-sub-c: #525856;
  --color-deuteranopia-a: #00754d;
  --color-deuteranopia-b: #537e6e;
  --color-deuteranopia-sub-a: #9f6046;
  --color-deuteranopia-sub-b: #90574c;
  --color-deuteranopia-sub-c: #6a6363;
  --color-tritanopia-a: #bf67e5;
  --color-tritanopia-b: #8e6eac;
  --color-tritanopia-sub-a: #59a192;
  --color-tritanopia-sub-b: #44a18b;
  --color-tritanopia-sub-c: #487f71;
  --color-red: #cb691f;
  --color-deep-red: #a85120;
  --color-yellow: #9bd60a;
  --color-light-green: #00d53c;
  --color-green: #008b42;
  --color-blue: #c000ff;
  --color-gray-blue: #474552;
  --color-deep-blue: #6f39a0;
  --color-purple: #ef00ff;
}
